@keyframes shake {
    0% {
        transform: rotateZ(0);
   }
    10% {
        transform: rotateZ(-30deg);
   }
    20% {
        transform: rotateZ(15deg);
   }
    30% {
        transform: rotateZ(-10deg);
   }
    40% {
        transform: rotateZ(7.5deg);
   }
    50% {
        transform: rotateZ(-6deg);
   }
    60% {
        transform: rotateZ(5deg);
   }
    70% {
        transform: rotateZ(-4.2857142857deg);
   }
    80% {
        transform: rotateZ(3.75deg);
   }
    90% {
        transform: rotateZ(-3.3333333333deg);
   }
    100% {
        transform: rotateZ(0);
   }
}

.phone-icon {
    display: inline-block;
    animation: shake 1200ms;
    }
