
  /* Small devices (landscape phones, 544px and up) */
  @media (max-width: 544px) {  
    #menu {
        margin-left: -85%;
        width: 85%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        transition: all 0.3s;
    }
    #menu.active {
        margin-left: 0;
    }
    #container.active {
        margin-left: 85%;
    }
    #container {
        min-width: 100%;
        width: 100%;
        margin-left: 0;
        min-height: 100vh;
        position: relative;
        transition: all 0.3s;
        top: 0;
        right: 0;
        overflow-x: scroll;
    }
    .display-4 {
        font-size: 1.5rem!important;
        font-weight: 300;
        line-height: 1.2;
    }
    .height-list {
        height: 45%!important;
      }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {  
   #menu {
        margin-left: -70%;
        width: 70%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        transition: all 0.3s;
    }
    #menu.active {
        margin-left: 0;
    }
    #container.active {
        margin-left: 70%;
    }
    #container {
        min-width: 100%;
        width: 100%;
        margin-left: 0;
        min-height: 100vh;
        position: relative;
        transition: all 0.3s;
        top: 0;
        right: 0;
        overflow-x: scroll;
    }
    .height-list {
        height: 55%!important;
      }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    #menu {
        margin-left: -58%;
        width: 58%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        transition: all 0.3s;
    }
    #menu.active {
        margin-left: 0;
    }
    #container.active {
        margin-left: 58%;
    }
    
    #container {
        min-width: 100%;
        width: 100%;
        margin-left: 0;
        min-height: 100vh;
        position: relative;
        transition: all 0.3s;
        top: 0;
        right: 0;
        overflow-x: scroll;
    }
    .height-list {
        height: 55%!important;
      }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1000px) { #menu {
    margin-left: -48%;
    width: 48%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
}
#menu.active {
    margin-left: 0;
}
#container.active {
    margin-left: 48%;
}

#container {
    min-width: 100%;
    width: 100%;
    margin-left: 0;
    min-height: 100vh;
    position: relative;
    transition: all 0.3s;
    top: 0;
    right: 0;
    overflow-x: scroll;
}
.height-list {
    height: 60%!important;
  }
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    #menu {
        margin-left: -38%;
        width: 38%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        transition: all 0.3s;
    }
    #menu.active {
        margin-left: 0;
    }
    #container.active {
        margin-left: 38%;
    }
    
    
    #container {
        min-width: 100%;
        width: 100%;
        margin-left: 0;
        min-height: 100vh;
        position: relative;
        transition: all 0.3s;
        top: 0;
        right: 0;
        overflow-x: scroll;
    }
    .height-list {
        height: 65%!important;
      }
  }

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}
.bg-the-man-drink-a-cup-of-beer {
    background: url('images/bg.svg');
    background-repeat:  no-repeat;
    background-position: right;
}
.the-man-drink-beer {
    position: absolute;
    right:0
}

.bottle-man{
    position: absolute;
    bottom: 75px;
    left: 80px;
}
.title-1 {
    font-size: 101px;
    line-height: 97.4%;
}

@media only screen and (max-width: 600px) {

    .the-man-drink-beer {
        position: absolute;
        right:-10px;
        top:120px;
    }
    .size-svg-the-man {
        width: 256px;
        height: 256px;
        transform: rotate(5deg);
      }
    
    .bottle-man{
        position: absolute;
        top: 275px;
        left: 20px;
    }
    .size-svg-bottle-man {
        width: 80px;
        height: 80px;
      }
      .wrap-title{
        padding: 300px 20px 10px 20px;
      }
      .title-1 {
        font-size: 60px;
        line-height: 97.4%;
    }
    .btn-home{
        margin-top:10px;
        padding: 4px 8px;
        margin-right: 6px;
    }

}


@media only screen and (min-width: 768px) {
    .the-man-drink-beer {
        position: absolute;
        right:-10px;
        top:100px;
    }
    .size-svg-the-man {
        width: 320px;
        height: 320px;
        transform: rotate(0deg);
      }
      .bottle-man{
        position: absolute;
        top: 200px;
        left: 20px;
    }
    .size-svg-bottle-man {
        width: 140px;
        height: 140px;
      }
      .wrap-title{
        padding: 300px 60px 10px 60px;
      }
      .title-1 {
        font-size: 101px;
        line-height: 97.4%;
    }
    .btn-home{
        padding: 22px 38px;
        margin-right: 50px;
    }
}


@media only screen and (min-width: 992px) {
    .the-man-drink-beer {
        position: absolute;
        right:0;
        top:30%;
    }

    .size-svg-the-man {
        width: 456px;
        height: 900px;
        transform: rotate(0deg);
      }
      .bottle-man{
        position: absolute;
        top:80%;
        bottom: 0;
        left: 20px;
    }
    .size-svg-bottle-man {
        width: 180px;
        height: 180px;
      }
      .wrap-title{
        padding: 300px 0 0px 0px;
      }
      .title-1 {
        font-size: 101px;
        line-height: 97.4%;
    }
    .btn-home{
        padding: 22px 38px;
        margin-right: 50px;
    }
}


@media only screen and (min-width: 1200px) {
    .bg-the-man-drink-a-cup-of-beer {
        background: url('images/bg.svg');
        background-repeat:  no-repeat;
        background-position: right;
    }
    .the-man-drink-beer {
        position: absolute;
        top:0;
        right:0
    }
    .size-svg-the-man {
        width: 496px;
        height: 900px;
        transform: rotate(0deg);
      }

    .bottle-man{
        position: absolute;
        top: 75%;
        left: 40px;
    }
    .wrap-title{
        padding: 250px 0 0px 0px;
      }
    .title-1 {
        font-size: 101px;
        line-height: 97.4%;
    }
    .btn-home{
        padding: 22px 38px;
        margin-right: 50px;
    }
}

.hand-svg {
    left: 60%;
    transform: translateX(-50%);
}
.brand-img {
    height: 100%;
    width: 100%;
}

    
@media only screen and (max-width: 600px) {
    .brand-card {
        padding-top: 120px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
        width: 400px;
    }
    .brand-text {
       font-size: 50px;
       color: #CF830B;
    }
    .description-text {
        margin-bottom: 30px;
    }
    
    .btn-1 {
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 120%;
        margin-bottom: 20px;
    }
    .btn-2 {
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 120%;
        margin-bottom: 20px;
    }
    .logo-product {
        margin-top: 20px;
        }
}

@media only screen and (min-width: 768px) {
    .brand-card {
        padding-top: 120px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 30px;
        width: 600px;
    }
    .brand-text {
       font-size: 62px;
       color: #CF830B;
    }
    .description-text {
        margin-bottom: 80px;
    }
    
    .btn-1 {
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 120%;
        margin-bottom: 30px;
    }
    .btn-2 {
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 120%;
        margin-bottom: 30px;
    }
    .logo-product{
        position: absolute;
        bottom: 60px;
        right: 80px;
        }
}


@media only screen and (min-width: 992px) {
    .brand-card {
        padding-top: 120px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 30px;
        width: 600px;
    }
    .brand-text {
       font-size: 62px;
       color: #CF830B;
    }
    .description-text {
        margin-bottom: 80px;
    }
    
    .btn-1 {
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 120%;
        margin-bottom: 30px;
    }
    .btn-2 {
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 120%;
        margin-bottom: 30px;
    }
    .logo-product{
        position: absolute;
        bottom: 60px;
        right: 80px;
        }
}


@media (min-width: 1200px) {
    .brand-card {
        padding-top: 120px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 30px;
        width: 600px;
    }
    .brand-text {
       font-size: 62px;
       color: #CF830B;
    }
    .description-text {
        margin-bottom: 80px;
    }
    
    .btn-1 {
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 120%;
        margin-bottom: 30px;
    }
    .btn-2 {
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 120%;
        margin-bottom: 30px;
    }
    .logo-product{
    position: absolute;
    bottom: 60px;
    right: 80px;
    }
}

@media only screen and (max-width: 600px) {
    .wrap-near {
        padding-top: 60px;
        padding-bottom: 45px;
    }
    .wrap-text-near{
        margin: auto;
        max-width: 524px;
    }
    .text-display-near{
        font-size: 42px;
        color: #F5EFDE;
        margin-bottom: 25px;
    }
    .text-discription-near{
        font-size: 16px;
        line-height: 140%;
        color: #F5EFDE;
        margin-bottom: 40px;
    }
    .btn-near{
        width: 250px;
        color: #F5EFDE!important;
        display: inline-block;
        font-size: 15px;
        padding: 24px 60px 24px 60px;
        border: 2px solid white;
    }

}


@media only screen and (min-width: 768px) {
    .wrap-near {
        padding-top: 220px;
        padding-bottom: 50px;
    }
    .wrap-text-near{
        margin: auto;
        max-width: 524px;
    }
    .text-display-near{
        font-size: 72px;
        color: #F5EFDE;
        margin-bottom: 25px;
    }
    .text-discription-near{
        font-size: 16px;
        line-height: 140%;
        color: #F5EFDE;
        margin-bottom: 40px;
    }
    .btn-near{
        width: 250px;
        color: #F5EFDE!important;
        display: inline-block;
        font-size: 15px;
        padding: 24px 60px 24px 60px;
        border: 2px solid white;
    }
}


@media only screen and (min-width: 992px) {
    .wrap-near {
        padding-top: 90px;
        padding-bottom: 45px;
    }
    .wrap-text-near{
        margin: auto;
        max-width: 524px;
    }
    .text-display-near{
        font-size: 72px;
        color: #F5EFDE;
        margin-bottom: 25px;
    }
    .text-discription-near{
        font-size: 16px;
        line-height: 140%;
        color: #F5EFDE;
        margin-bottom: 40px;
    }
    .btn-near{
        width: 250px;
        color: #F5EFDE!important;
        display: inline-block;
        font-size: 15px;
        padding: 24px 60px 24px 60px;
        border: 2px solid white;
    }
}


@media only screen and (min-width: 1200px) {
   
    .wrap-near {
        padding-top: 110px;
        padding-bottom: 145px;
    }
    .wrap-text-near{
        margin: auto;
        max-width: 524px;
    }
    .text-display-near{
        font-size: 72px;
        color: #F5EFDE;
        margin-bottom: 25px;
    }
    .text-discription-near{
        font-size: 16px;
        line-height: 140%;
        color: #F5EFDE;
        margin-bottom: 40px;
    }
    .btn-near{
        width: 250px;
        color: #F5EFDE!important;
        display: inline-block;
        font-size: 15px;
        padding: 24px 60px 24px 60px;
        border: 2px solid white;
    }
    
}

@media only screen and (max-width: 600px) {
    .wrap-blog {
        padding-top: 60px;
        padding-bottom: 45px;
    }
    .wrap-text-blog{
        margin: auto;
        max-width: 524px;
    }
    .text-display-blog{
        font-size: 42px;
        color: #000000;
        margin-bottom: 25px;
    }
    .text-discription-blog{
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        margin-bottom: 40px;
    }

}


@media only screen and (min-width: 768px) {
    .wrap-blog {
        padding-top: 220px;
        padding-bottom: 50px;
    }
    .wrap-text-blog{
        margin: auto;
        max-width: 524px;
    }
    .text-display-blog{
        font-size: 72px;
        color: #000000;
        margin-bottom: 25px;
    }
    .text-discription-blog{
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        margin-bottom: 40px;
    }
    
}


@media only screen and (min-width: 992px) {
    .wrap-blog {
        padding-top: 90px;
        padding-bottom: 45px;
    }
    .wrap-text-blog{
        margin: auto;
        max-width: 524px;
    }
    .text-display-blog{
        font-size: 72px;
        color: #000000;
        margin-bottom: 25px;
    }
    .text-discription-blog{
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        margin-bottom: 40px;
    }
}


@media only screen and (min-width: 1200px) {
   
    .wrap-blog {
        padding-top: 144px;
        padding-bottom: 10px;
    }
    .wrap-text-blog{
        margin: auto;
        max-width: 504px;
    }
    .text-display-blog{
        font-size: 72px;
        color: #000000;
        margin-bottom: 25px;
    }
    .text-discription-blog{
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        margin-bottom: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }  
}

.item-slider{
 margin-bottom: 50px;
}
.wrap-content-slider{
    border-bottom: 1px solid black;
    padding-bottom: 56px;
}
.img-slider{
    margin-bottom: 24px;
}
.text-slider{
 height: 70px;
 font-size: 33px;
 line-height: 120%;
 color: black;
}
 @media (max-width:600px){
    .text-slider{
        height: 70px;
        font-size: 16px;
        line-height: 120%;
        color: black;
       }
 }
 @media only screen and (min-width: 768px) {
    .text-slider{
        height: 70px;
        font-size: 20px;
        line-height: 120%;
        color: black;
       }
}


@media only screen and (min-width: 992px) {
    .text-slider{
        height: 70px;
        font-size: 25px;
        line-height: 120%;
        color: black;
       }
}


@media only screen and (min-width: 1200px) {
    .text-slider{
        height: 70px;
        font-size: 33px;
        line-height: 120%;
        color: black;
       }
}
.owl-dot span{
    border-radius: 0!important;
}
.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    width:30px;
    height:30px;
}

.owl-prev, .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    display: block !important;
    border:0px solid black;
}
.owl-prev { left: -40px; }
.owl-next { right: -40px; }
.owl-prev::before { left: -20px;bottom:-10px;background: url(images/prev.svg) no-repeat; width: 50px; position: absolute;content: '';
    height: 15px;}
.owl-next::before { right: -20px;bottom:-10px;background: url(images/next.svg) no-repeat;width: 50px; position: absolute;content: '';
    height: 15px; }
.owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}
.owl-slider {
    margin-bottom: 80px;
}
.instagram-link{
    margin-bottom: 25px;
}
.img-full{
    width: 100%;
    height: 100%;
}
.footer{
    padding-top: 120px;
    padding-bottom: 110px;
    margin: 0 115px 0;
}
.contact-block{
    padding-left: 32px;
}
.btn-cream{
    background-color: #F5EFDE!important;
    border-color: #F5EFDE;
    color: black;
    border: transparent
}
.input-email {
    padding: 25px;
    height: 72px;
    width: 70%;
}
.input-btn{
    padding: 25px;
    width: 30%;
    height: 72px;
}
.wrap-icon-circle {
    display: inline-block;
    border-radius: 100%;
    border: 1px solid white;
    padding: 0.5em 0.6em;
    
}
@media only screen and (max-width: 600px) {
    .footer{
        padding-top: 120px;
        padding-bottom: 110px;
        margin: 0 15px 0;
    }
    .contact-block{
        padding-left: 32px;
    }
    .btn-cream{
        background-color: #F5EFDE!important;
        border-color: #F5EFDE;
        color: black;
        border: transparent
    }
    .input-email {
        padding: 25px;
        height: 72px;
        width: 70%;
    }
    .input-btn{
        padding: 25px;
        width: 30%;
        height: 72px;
    }
    .wrap-icon-circle {
        display: inline-block;
        border-radius: 100%;
        border: 1px solid white;
        padding: 0.5em 0.6em;
        
    }
}


@media only screen and (min-width: 600px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {
    
}