@font-face {
    font-family: "ChunkFivePrint";
    src: url("fonts/ChunkFivePrint.ttf");
  }

.chunk-font {
    font-family: ChunkFivePrint,sans-serif;
    font-style: normal;
    font-weight: normal;
}
.karla-font {
    font-family: 'Karla', sans-serif;
}


.bg-cream {
    background-color: #F5EFDE;
}
.bg-black {
    background-color: black;
}
.text-cream {
    color: #F5EFDE !important;
}
.text-gray {
  color: #B7B7B7
}
.text-black {
    color: black;
}
.h-10 {
    height: 10%;
}
.h-90 {
    height: 90%;
}
.fs-14px {
    font-size: 14px;
}
.fs-12px {
    font-size:12px;
}
.mt--7rem {
    margin-top: -7rem;
}
.z-1 {
    z-index: 1;
}
.z-2{
    z-index: 2;
}
.bottom-0 {
    bottom: 0;
}
.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}
.px-6 {
    padding-left: 6rem;
    padding-right: 6rem;
}
.mw-60{
    max-width: 60%;
}
.mb-30px {
    margin-bottom: 30px;
}
